In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('kdd99').getOrCreate()

In [2]:
br = spark.sparkContext.broadcast(1)

In [3]:
br

In [4]:
br.value

1

In [5]:
br.unpersist()
br.destroy()

In [6]:
br.value

1

In [11]:
from pyspark.sql.functions import broadcast

data1 = spark.createDataFrame([(1, 'Matt', 21), (2, 'Albert', 28), (3, 'Walter', 10)], ['id', 'name', 'age'])
data1.show()

data2 = spark.createDataFrame([(1, 10.20), (2, 30.45), (3, 5.32)], ['id', 'salary'])
data2.show()

data = data1.join(data2, 'id')
data.show()

data = data1.join(broadcast(data2), 'id')
data.show()

# data1.join(broadcast(data2), data1.id == data2.id)

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|  Matt| 21|
|  2|Albert| 28|
|  3|Walter| 10|
+---+------+---+

+---+------+
| id|salary|
+---+------+
|  1|  10.2|
|  2| 30.45|
|  3|  5.32|
+---+------+

+---+------+---+------+
| id|  name|age|salary|
+---+------+---+------+
|  1|  Matt| 21|  10.2|
|  3|Walter| 10|  5.32|
|  2|Albert| 28| 30.45|
+---+------+---+------+

+---+------+---+------+
| id|  name|age|salary|
+---+------+---+------+
|  1|  Matt| 21|  10.2|
|  2|Albert| 28| 30.45|
|  3|Walter| 10|  5.32|
+---+------+---+------+