# Spark Dataframes Basics

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('YaBasic').getOrCreate()

In [3]:
df = spark.read.json('data/people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [8]:
df.head()

Row(age=None, name='Michael')

In [9]:
df.tail()

AttributeError: 'DataFrame' object has no attribute 'tail'

## Specifying schema explicitly

In [8]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [9]:
data_schema = [
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
]

In [10]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('data/people.json', schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Data manipulation

In [14]:
type(df['age'])

pyspark.sql.column.Column

In [15]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [16]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [17]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
df.head(2)[0]

Row(age=None, name='Michael')

In [19]:
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [20]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df.withColumnRenamed('age', 'my_age').show()

+------+-------+
|my_age|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [22]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## SQL Manipulation

In [32]:
df.createOrReplaceTempView('people')

In [48]:
results = spark.sql("SELECT * FROM PEOPLE where age == 30 or age == 19")

In [49]:
results.show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+

In [53]:
df = spark.createDataFrame([('This is wack', 'Geese are cool', 'Water balloon'],['text'])

TypeError: Can not infer schema for type: <class 'str'>

In [26]:
new_results = spark.sql("SELECT * FROM PEOPLE WHERE age = 30")

In [27]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+