# Spark DataFrame Dates and Times

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('date').getOrCreate()

In [48]:
df = spark.read.csv('data/appl_stock.csv', header=True, inferSchema=True)

In [16]:
df.select(df['Date'], df['Open']).show()

+-------------------+------------------+
|               Date|              Open|
+-------------------+------------------+
|2010-01-04 00:00:00|        213.429998|
|2010-01-05 00:00:00|        214.599998|
|2010-01-06 00:00:00|        214.379993|
|2010-01-07 00:00:00|            211.75|
|2010-01-08 00:00:00|        210.299994|
|2010-01-11 00:00:00|212.79999700000002|
|2010-01-12 00:00:00|209.18999499999998|
|2010-01-13 00:00:00|        207.870005|
|2010-01-14 00:00:00|210.11000299999998|
|2010-01-15 00:00:00|210.92999500000002|
|2010-01-19 00:00:00|        208.330002|
|2010-01-20 00:00:00|        214.910006|
|2010-01-21 00:00:00|        212.079994|
|2010-01-22 00:00:00|206.78000600000001|
|2010-01-25 00:00:00|202.51000200000001|
|2010-01-26 00:00:00|205.95000100000001|
|2010-01-27 00:00:00|        206.849995|
|2010-01-28 00:00:00|        204.930004|
|2010-01-29 00:00:00|        201.079996|
|2010-02-01 00:00:00|192.36999699999998|
+-------------------+------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import (dayofmonth, dayofyear, 
                                   hour, month, year, weekofyear, 
                                   format_number, date_format)

In [20]:
df.select(month(df['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [62]:
df2 = df.groupBy(year('Date').alias('Year')).mean('Close')
df2.sort('Year').show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2010| 259.8424600000002|
|2011|364.00432532142867|
|2012| 576.0497195640002|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2015|120.03999980555547|
|2016|104.60400786904763|
+----+------------------+

In [73]:
newdf = df.withColumn('Year', year('Date'))
newdf = newdf.groupBy('Year').mean('Close')
newdf = newdf.select(['Year', format_number('avg(Close)', 3).alias('Avg Close Price')])
newdf = newdf.sort('Year')
newdf.show()

+----+---------------+
|Year|Avg Close Price|
+----+---------------+
|2010|        259.842|
|2011|        364.004|
|2012|        576.050|
|2013|        472.635|
|2014|        295.402|
|2015|        120.040|
|2016|        104.604|
+----+---------------+